img{
    width: 100%;
    height: 200px;
}
.btn{
    background-color: rgb(196, 89, 112);
    color: white;
    margin-left: 85%;
}
.total{
    margin-left: 80%;
}
.data{
    color: rgb(233, 121, 121);
    text-align: center;
    
}
.Loading{
    width: 50%;
    margin-left: 30%;

}